.loading-container {
    position: fixed;
    bottom: 50px; /* Adjust this value to move it higher or lower */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circular-text {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .circular-text span {
    position: absolute;
    transform-origin: 50px 50px;
    animation: rotateText 2s linear infinite;
    font-size: 2vh;
    font-weight: 700;
    color: #5cd664;
  }
  
  .circular-text span:nth-child(1) { transform: rotate(0deg) translate(50px, -50px); }
  .circular-text span:nth-child(2) { transform: rotate(27.6923deg) translate(50px, -50px); }
  .circular-text span:nth-child(3) { transform: rotate(55.3846deg) translate(50px, -50px); }
  .circular-text span:nth-child(4) { transform: rotate(83.0769deg) translate(50px, -50px); }
  .circular-text span:nth-child(5) { transform: rotate(110.7692deg) translate(50px, -50px); }
  .circular-text span:nth-child(6) { transform: rotate(138.4615deg) translate(50px, -50px); }
  .circular-text span:nth-child(7) { transform: rotate(166.1538deg) translate(50px, -50px); }
  .circular-text span:nth-child(8) { transform: rotate(193.8462deg) translate(50px, -50px); }
  .circular-text span:nth-child(9) { transform: rotate(221.5385deg) translate(50px, -50px); }
  .circular-text span:nth-child(10) { transform: rotate(249.2308deg) translate(50px, -50px); }
  .circular-text span:nth-child(11) { transform: rotate(276.9231deg) translate(50px, -50px); }
  .circular-text span:nth-child(12) { transform: rotate(304.6154deg) translate(50px, -50px); }
  .circular-text span:nth-child(13) { transform: rotate(332.3077deg) translate(50px, -50px); }
  
  @keyframes rotateText {
    100% {
      transform: rotate(360deg);
    }
  }
  